body {background-color:#eeeeee;}

body p {color:black;
		font-size:18px;
		line-height:130%;
		font-weight:300;}
    
* {
  margin: 0;
  padding: 0;
}

.container-fluid {padding-left:3%;
		padding-right:3%;}
		
.advert {margin-left:auto;
			margin-right:auto;
			text-align:center;
			display:block;}

body a {font-weight:600;
		color:#4C7DAE;}

header ul {margin-left:auto;
			margin-right:auto;}

header li a {color:#808080;
				font-weight:400;
				font-family:'Georgia';
				font-size:16;}

section {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

h1 {text-align:center;
	font-weight:500;
	font-family: "Museo-Sans-Condensed";
	font-size:7em;
	line-height:90%;
	margin-top:3%;}
	
@media screen and (min-width:331px) and (max-width:410px)
{h1 {font-size:3.5em;}}

@media screen and (max-width:330px)
{h1 {font-size:2.5em;}}

footer p {font-size:14px;}

#deck {font-family:"Museo-Sans-Condensed";
		font-size:1.3em;
		text-align:center;}

#dropdown {font-family:"Arial";}

.fb-comments, .fb-comments > span[style], .fb_iframe_widget iframe[style] { width: 100% !important; }

.social {margin-left:auto;
				margin-right:auto;
				text-align:center;
				margin-bottom:5%;}

.social img {display:inline;
				width:50px;}

#credits h3 {font-family:"Museo-Sans-Condensed";
			border-top:1px solid black;}

#credits {margin-bottom:3%;}


.countryname {font-size:6em;
				font-family:"Museo-Sans-Condensed";
				width:100%;
				text-align:center;}

.countryname p {text-align:center;
					font-family:"Museo-Sans-Condensed";}

.jersey img {width:80%;
				margin-left:auto;
				margin-right:auto;
				text-align:center;
				display:block;}

.listitem {float:left;
			font-family:"Museo-Sans-Condensed";
			margin-bottom:2%;}

#map {margin-top:-1%;
		clear:both;}



#square1 div {display:block;
						float:left;
						width:20px;
						height:20px;
						background:#008B45;
						margin-right:5px;}

#square2 div {display:block;
						float:left;
						width:20px;
						height:20px;
						background:#B3EE3A;
						margin-right:5px;}

#square3 div {display:block;
						float:left;
						width:20px;
						height:20px;
						background:#B4EEB4;
						margin-right:5px;}


#square4 div {display:block;
						float:left;
						width:20px;
						height:20px;
						background:#7CFC00;
						margin-right:5px;}

#square5 div {display:block;
						float:left;
						width:20px;
						height:20px;
						background:#FFFF00;
						margin-right:5px;}

#square6 div {display:block;
						float:left;
						width:20px;
						height:20px;
						background:#9ACD32;
						margin-right:5px;}

#square7 div {display:block;
						float:left;
						width:20px;
						height:20px;
						background:#FFD700;
						margin-right:5px;}


#square8 div {display:block;
						float:left;
						width:20px;
						height:20px;
						background:#F0E68C;
						margin-right:5px;}


#legend {	width:75px;
			height:185px;
			margin-left:auto;
			margin-right:auto;
			text-align:center;
			display:block;
			margin-top:-50%;
			margin-right:5%;
			z-index: 1001;
			position:relative;
			background-color:white;
			padding:1.5%;
			opacity:0.8;
			border-radius:10px;}

.box {text-align:center;
		clear:both;

	}

.box p {
			font-family:"Museo-Sans-Condensed";
			margin-bottom:8%;
			margin-right:5%;
			font-size:0.9em;}

@media all and (max-width:965px)
{#legend {display:none;}}



#promos {margin-top:15%;
			z-index:1002;
			position:relative;
			width:190px;
			margin-left:5%;
			background-color:white;
			padding:1.5%;
			opacity:0.8;
			border-radius:10px;
			margin-right:0;}

#promos li {list-style-type: none;
			font-family: "Museo-Sans-Condensed";}

#promos a {color:black;}

@media all and (max-width:965px)
{#promos {display:none;}}

.map_popover {
  width: 400px !important;
  margin-left: -200px !important;
  margin-top: -400px !important;
  left: 50% !important;
  top: 550px !important;
  z-index:2003;
}


#promossmall {	width:700px;
			height:185px;
			margin-left:auto;
			margin-right:auto;
			text-align:center;
			margin-top:2%;
			display:block;
			z-index: 1001;
			position:relative;
			background-color:white;
			padding:1.5%;
			opacity:0.8;
			border-radius:10px;}

@media all and (min-width:966px)
{#promossmall {display:none;}}

#legendsmall1 {float:left;
				width:15%;
				margin-left:5%;}

#legendsmall2 {float:left;
				width:15%;
				margin-left:5%;}

#moresmall {float:left;
			width:50%;
			margin-left:10%;}

#moresmall li {list-style-type: none;
			font-family: "Museo-Sans-Condensed";
			text-align:left;}

#moresmall a {color:black;}

@media all and (max-width:785px)
{.nav, navbar-nav, navbar-right {display:none;} }

.bold {font-weight:800;}

.accordion-heading a {font-size:1.85em;
					color:black;
					text-align:center;
					padding:1%;
					font-family: "Museo-Sans-Condensed";
					background-color:#9ACD32;}

.listmobile {text-align:center;
			font-family:"Museo-Sans-Condensed";}

#more {text-align:center;
		font-family:"Museo-Sans-Condensed";
		color:black;
		margin-top:3%;
		padding-left:3%;
		padding-right:3%;}

#more li {list-style-type: none;
			font-size:1.5em;
			margin-bottom:1.5%;}

#more a {color:black;}


.nav, navbar-nav p {font-weight:700;}

.click li {padding-bottom:5%;}



